<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="TokenSecret" value="xxooxxooxxooxxoo" />
    <add key="QiNiuAccessKey" value="oDWaPonR8_oDIUOAaWxOdprM1L3-aiRVapPXzRev" />
    <add key="QiNiuSecretKey" value="eVBQshHaGuYxpTcwkvZsxVTXPFPzoCTqxj2hUr-5" />
    <add key="QiNiuBucket" value="tzmanage" />
    <!--<add key="QiNiuBucket" value="testpublish" />-->
    <!--七牛的测试域名-->
    <add key="QiNiuDomainUrl" value="http://p5mx97lpc.bkt.clouddn.com" />
    <!--<add key="QiNiuDomainUrl" value="p5rvak7sa.bkt.clouddn.com"/>-->
  </appSettings>
  
  
  <connectionStrings>
    <add name="AkData.Reader" connectionString="Min Pool Size=10;Max Pool Size=500;Connection Timeout=50;Data Source=127.0.0.1;Initial Catalog=TZManage;Persist Security Info=True;User ID=sa;Password=lenovo123" />
    <add name="AkData.Writer" connectionString="Min Pool Size=10;Max Pool Size=500;Connection Timeout=50;Data Source=127.0.0.1;Initial Catalog=TZManage;Persist Security Info=True;User ID=sa;Password=lenovo123" />

    <add name="AKData2_0.Reader" connectionString="Min Pool Size=10;Max Pool Size=500;Connection Timeout=50;Data Source=127.0.0.1;Initial Catalog=TZManage;Persist Security Info=True;User ID=sa;Password=lenovo123" />

    <add name="AKData2_0.Writer" connectionString="Min Pool Size=10;Max Pool Size=500;Connection Timeout=50;Data Source=127.0.0.1;Initial Catalog=TZManage;Persist Security Info=True;User ID=sa;Password=lenovo123" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>